{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>CRUD</title>
</head>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css ' %}">
<body class="">


	<nav class="navbar navbar-expand-lg navbar-dark bg-secondary ">
  <a class="navbar-brand" href="{% url 'home'%}">Shopify</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <!--<li class="nav-item active">
        <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
      </li>-->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'listado'%}">Productos</a>
      </li>
     <!-- <li class="nav-item">
        <a class="nav-link" href="#">Categorias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Venta</a>
      </li>-->
    </ul>
  </div>
</nav>



	
	<form action="{% url 'agregarProducto'%}" method="post" class="py-4">{% csrf_token %} 
		<input type="text" name="nombre" placeholder="nombre"><br>
		<input type="text" name="descripcion" placeholder="descripcion"><br>
		<input type="numeric" name="costo" placeholder="costo"><br>
		
		<input type="numeric" name="numeroExistencias" placeholder="numeroExistencias"><br>
		<select><br>
			<option value="enlatados">enlatados</option>
			<option value="lacteos">lacteos</option>
			<option value="abarrotes">abarrotes</option>
		</select>
		
		<p> disponible<input type="checkbox" name="disponible" placeholder="disponible"></p><br>
		
		<input type="submit" value="Enviar">

	</form>
	
	
</body>
</html>